<div class="auth-div body-container">
	<form class="needs-validation" method="post" action="/reset-password" novalidate>
		<%- include('../partials/auth-errors.ejs')%>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'is-invalid' : ''%>"
				name="password" id="password" placeholder="Password" value="<%= oldInput.password %>" required />
			<div class="invalid-feedback">
				<% let errorPassword =validationErrors.find(e => e.param === 'password') ; %>
					<%= errorPassword ? errorPassword.msg : 'Please choose a  correct password' %>
			</div>
		</div>
			<div class="form-group">
				<label for="password_confirmation">Confirm Password</label>
				<input type="password"
					class="form-control <%= validationErrors.find(e => e.param ==='password_confirmation') ? 'is-invalid' : ''%>"
					value="<%= oldInput.confirmPassword %>" name="password_confirmation" id="password_confirmation"
					placeholder="Confirm Password" required />
				<div class="invalid-feedback">
					<% let errorConfirm =validationErrors.find(e => e.param === 'password_confirmation') ; %>
					<%= errorConfirm ? errorConfirm.msg : 'Please choose a  correct  confirm Password' %>					
				</div>
			</div>
			<button type="submit" class="btn signup-btn">Reset password</button>
			<input type="hidden" name="CSRFToken" value="<%= csrfToken %>" />
			<input type="hidden" name="resetPasswordToken" value="<%= resetPasswordToken %>" />

		</form>
</div>

<%- contentFor('styles') %>
	<link rel="stylesheet" href="/css/authform.css">